
/* FONTS SELECTOR */

@font-face {
    font-family: ka1;
    src: url(../assets/fonts/ka1.ttf);
}

@font-face {
    font-family: poxel;
    src: url(../assets/fonts/poxel-font.ttf);
}


/* MAIN ELEMENTS */

body {
    text-align: center;
}

h1 {
    font-family: ka1;
    font-size: 5em;
    margin-bottom: -5px;
}

.banner {
    max-width: 270px;
    width: 100%;
    height: auto;
}

h5{
    font-family: poxel;
    font-size: 1em;

}

#botoutput{
    font-family: poxel;
    font-size: 0.8em;
    color: red;
}

footer{
    margin-top: 40px;
    background-color: black;
    color: white;
    font-family: poxel;
}


@media only screen and (max-width: 600px){

    h1 {
        font-size: 2em;
    }

    .banner {
        max-width: 170px;
        width: 100%;
        height: auto;

}